<div class="container">
    <div class="row">
        <h1>Grade Calculator</h1>
    </div>

    <!-- Popup when deleting course -->
    <div class="modal" #deleteConfirmModal id="deleteConfirmModal" tabindex="-1" role="dialog" aria-hidden="true" aria-describedby="deleteConfirmModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmModalLabel">Are you sure you want to delete {{toDelete || "-"}}?</h5>
                    <button type="button" (click)="modalDismiss('delete', false)" class="close btn" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer justify-content-center">
                    <button (click)="modalDismiss('delete', true)" type="button" class="btn btn-success mx-2">Yes</button>
                    <button (click)="modalDismiss('delete', false)" type="button" class="btn btn-danger mx-2">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup when deleting all courses -->
    <div class="modal" #deleteAllConfirmModal id="deleteAllConfirmModal" tabindex="-1" role="dialog" aria-hidden="true" aria-describedby="deleteAllConfirmModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAllConfirmModalLabel">Are you sure you want to delete all courses?</h5>
                    <button type="button" (click)="modalDismiss('deleteAll', false)" class="close btn" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer justify-content-center">
                    <button (click)="modalDismiss('deleteAll', true)" type="button" class="btn btn-success mx-2">Yes</button>
                    <button (click)="modalDismiss('deleteAll', false)" type="button" class="btn btn-danger mx-2">No</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup when importing course -->
    <div class="modal" #importConfirmModal id="importConfirmModal" tabindex="-1" role="dialog" aria-hidden="true" aria-describedby="importConfirmModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importConfirmModalLabel">Importing from Genesis</h5>
                    <button type="button" (click)="modalInactive('import', false)" class="close btn" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <p>Copy and paste the HTML code for an entire course summary page into the text box below to import a course.</p> -->
                    <div class="container">
                        <div class="row border rounded bg-warning px-2 pt-2">
                            <p>Letter grades (A, B, C, etc...) will be ignored because the total points are not known.</p>
                            <p>Courses with weighted grading will not calculate properly.</p>
                        </div>
                    </div>

                    <p>Steps:</p>
                    <ol>
                        <li>Go to your gradebook and navigate to the summary of the course you wish to import</li>
                        <!-- <li>Copy the page's entire HTML with the following method:</li> -->
                        <li>Copy the entire page with the following method:</li>
                        <div class="border rounded px-2">
                            <ul>
                                <!-- <li><i>View Page HTML (Ctrl+U)</i></li> -->
                                <li><i>Select All (Ctrl+A)</i></li>
                                <li><i>Copy (Ctrl+C)</i></li>
                            </ul>
                        </div>
                        <li>Once the text is copied to your clipboard, click the button below.</li>
                    </ol>
                </div>
                <div class="modal-footer justify-content-center">
                    <div #importGenesisErrorMessage class="bg-danger text-light rounded px-2" aria-hidden="true" style="visibility: hidden;">An error occurred. Please check your clipboard contents.</div>
                    <button (click)="modalDismiss('import', true)" type="button" class="btn btn-primary">Import from clipboard</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" #importJsonModal id="importJsonModal" tabindex="-1" role="dialog" aria-hidden="true" aria-describedby="importJsonModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importJsonModalLabel">Import courses from JSON</h5>
                    <button type="button" (click)="modalDismiss('importjson', false)" class="close btn" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Import courses that were exported by this site.</p>
                    <input type="file" id="json-upload" (change)="handleFileInput($event)" aria-hidden="true">
                    <!-- <label for="json-upload" class="no-select">Import courses from JSON</label> -->
                    <div #importJsonErrorMessage class="bg-danger text-light rounded px-2 my-2" aria-hidden="true" style="visibility: hidden;">The file provided is invalid. It must be a ".json" file.</div>
                </div>
            </div>
        </div>
    </div>



    <div *ngIf="courses.length > 0; else elseBlock" class="row">
        <table cdkDropList (cdkDropListDropped)="drop($event)" class="table table-hover courses-table">
            <thead class="thead-light">
                <tr>
                    <th>Course Name</th>
                    <th></th>
                    <th>Average</th>
                </tr>
            </thead>

            <tbody>
                <tr cdkDrag *ngFor="let course of courses; let i = index;" [attr.data-index]="i" (click)="redirectToDetail(i)" class="courseRow">
                    <td class="col-4">
                        <span class="handle" cdkDragHandle>
                            <img src="assets/drag.svg">
                        </span>
                        <input class="courseName form-control d-inline-block"
                            value="{{course.name}}"
                            (input)="setCourseName($event, i);"
                            (click)="$event.stopPropagation();"
                            placeholder="Course Name"/>
                    </td>
                    <td class="col-2"></td>
                    <td class="col-6 align-items-center">
                        <span class="courseAverage">{{course.average}}</span> <span class="coursePoints">{{course.points}}/{{course.totalPoints}}</span>
                        <button (click)="modalActive('delete', i); $event.stopPropagation();" class="float-end delete-button" style="border:0; background:transparent;">
                            <img src="assets/delete.svg" class="delete-image float-end"/>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #elseBlock>
        <div class="row mt-2">
            <h5>Nothing here yet</h5>
            <hr>
        </div>
    </ng-template>

    <div class="col-6 col-sm-8">
        <div (click)="addCourse()" class="my-3 d-flex align-items-center add-button-container">
            <img src="assets/add.svg" class="add-button"/>
            <span class="no-select">Add a new course</span>
        </div>
    </div>

    <div class="col-6 col-sm-8">
        <div (click)="modalActive('import')" class="my-3 d-flex align-items-center import-button-container">
            <img src="assets/import.svg" class="import-button"/>
            <span class="no-select">Import course from Genesis</span>
        </div>
    </div>

    <div class="col-6 col-sm-8">
        <a (click)="exportToJson()">
            <div class="my-3 d-flex align-items-center export-button-container">
                <img src="assets/download.svg" class="export-button"/>
                <span class="no-select">Export courses to JSON</span>
            </div>
        </a>
    </div>

    <div class="col-6 col-sm-8">
        <div (click)="modalActive('importjson')" class="my-3 d-flex align-items-center import-button-container">
            <img src="assets/import.svg" class="import-button"/>
            <span class="no-select">Import courses from JSON</span>
        </div>
    </div>

    <div class="col-6 col-sm-8">
        <div (click)="modalActive('deleteAll')" class="my-3 d-flex align-items-center delete-button-container">
            <img src="assets/delete.svg" class="delete-button"/>
            <span class="no-select">Clear all courses</span>
        </div>
    </div>
</div>