span {
    color: #000;
}
.coursePoints {
    color: #555;
    font-size: medium;
    &:before {
        content: '\00a0';
        margin-left: 8px;
    }
}

table {
    border-spacing: 0;
}

.courseRow {
    cursor: pointer;
}

.delete-image {
    width: auto;
    height: 20px;
    padding-left: 12px;
    cursor: pointer;

    
}

.delete-button {
    &:hover > .delete-image {
        // ~#FA3333
        filter: invert(36%) sepia(75%) saturate(4616%) hue-rotate(343deg) brightness(102%) contrast(97%); 
    }
}

.visible {
    display: block;
}

.modal:after {
    // darken background when visible
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    z-index: -1;
}
    
.add-button-container {
    cursor: pointer; 
    &:hover {
        color: #555;
        img {
            filter: invert(78%) sepia(89%) saturate(736%) hue-rotate(56deg) brightness(98%) contrast(87%);
        }
    }   
    img {
        width: auto;
        height: 24px;
        padding: 0px;
        padding-right: 8px;    
    }   
}

.import-button-container {
    cursor: pointer;
    &:hover {
        color: #555;
        img {
            filter: invert(26%) sepia(88%) saturate(1929%) hue-rotate(217deg) brightness(88%) contrast(93%);
        }
    }
    img {
        width: auto;
        height: 24px;
        padding: 0px;
        padding-right: 8px;
    }
}

.export-button-container {
    cursor: pointer;
    &:hover {
        color: #555;
        img {
            filter: invert(26%) sepia(88%) saturate(1929%) hue-rotate(217deg) brightness(88%) contrast(93%);
        }
    }
    img {
        width: auto;
        height: 24px;
        padding: 0px;
        padding-right: 8px;
    }
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}