.assignment {
    color:black;
    &.assignScore {
        color: #555;
        font-size: medium;
        width: auto;
    }
    &.assignName {
        width: auto;
        display: inline-block;
    }
}

.assign-fraction {
    width: auto;
}

:host {
    &:hover {
        &>td>.deleteButton {
            display: inline-block;
        }
    }
}

.deleteButton {
    width: auto;
    height: 20px;
    padding-left: 10px;
    cursor: pointer;

    &:hover {
        // ~#FA3333
        filter: invert(36%) sepia(75%) saturate(4616%) hue-rotate(343deg) brightness(102%) contrast(97%); 
    }
}

.handle {
    img {
        width: auto;
        height: 16px;
    }
}
