.assignment {
    color:black;
    &.assignScore {
        color: #555;
        font-size: medium;
        &:before {
            content: '\00a0';
            margin-left: 8px;
        }
    }
}

.backButton > * {
    color:black;
}

.summaryName {
    font-size: xx-large;
    font-weight: 600;
}

.summaryScore {
    font-size: large;
    font-weight: 500;
}

.inline-input {
    display: inline;
    width: 17%;
    min-width: 0;
}

.add-button-container {
    cursor: pointer; 
    &:hover {
        color: #555;
        img {
            filter: invert(78%) sepia(89%) saturate(736%) hue-rotate(56deg) brightness(98%) contrast(87%);
        }
    }   
    img {
        width: auto;
        height: 24px;
        padding: 0px;
        padding-right: 8px;    
    }   
}

.handle {
    img {
        width: auto;
        height: 16px;
    }
}

.cdk-drag-preview{
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.assignment:last-child {
    border: none;
}

.assignment-table.cdk-drop-list-dragging .assignment:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}